# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE settings
.idea/
.vscode/

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo


# Jupyter Notebook checkpoints
.ipynb_checkpoints/
